{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">

        <div class="confirmation">
            <h1>CONFIRM MESSAGE</h1>
        </div>

        <div>


            {% for data in data_list %}
            <form method="POST">
            
                {% csrf_token %}
                <p class="pending">
                    name: {{ data.name }}
                </p>

                <p class="pending">
                    message: {{ data.message }}
                </p>

                <input type="hidden" id="name" name="name" value="{{ data.name }}">
                <input type="hidden" id="message" name="message" value="{{ data.message }}">
                
                <button type="submit" class="btn btn-primary bg-dark shadow-none conf-button" data-toggle="button" aria-pressed="false" name="submit-button">
                    CONFIRM
                </button>

                <a href="{% url 'ftest:home' %}">
                    <button type="button" class="btn btn-primary bg-dark shadow-none back-button" data-toggle="button" aria-pressed="false">
                        GO BACK
                    </button>
                </a>

            </form>
            {% endfor %}

        </div>

    </div>

{% endblock %}