{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        
        <div class="col-sm text-center welcome">
            <h1>WELCOME</h1>
        </div>

        <div class="col-sm pour">
            Pour your thoughts here!
        </div>

        <div>

            <form method="POST" action="">

                    <div class="input-group mb-3">
                        
                        {% csrf_token %}
                        <input type="text" class="form-control form-color" placeholder="What's on your mind..."
                        aria-label="Recipient's message" name="message" maxlength="100">

                    </div>

                    <div class="input-group mb-3">

                        <input type="text" class="form-control form-color" placeholder="Your name here..."
                        aria-label="Recipient's username" name="name" maxlength="50">

                        <div class="input-group-append">

                            <button class="btn submit-button" type="submit" value="Submit" name="submit">
                                POST!
                            </button>
                            
                        </div>

                    </div>
                    
            </form> 

        </div>


        <div class="row">

            {% for data in data %}

            <div class="col-sm-6 col-md-auto message-card text-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ data.message }}</h5>
                        <p class="card-text">{{ data.name }} {{ data.date }}</p>
                    </div>
                </div>
            </div>
            
            {% endfor %}

        </div>

    </div>

{% endblock %}